/DouglasPeuckerReducer.class
/Gesture.class
/GestureInfo.class
/NeedlemanWunsch.class
/PolyRecognizerGSS.class
/PolyRecognizerGSS_original.class
/Polyline.class
/PolylineAligner.class
/PolylineFinder.class
/Recognizer.class
/Result$1.class
/Result.class
/TPoint.class
/Vector.class
